{% extends 'base.html' %}
{% block title %}Modalidades{% endblock %}

{% block content %}

    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">

            <a id="menu" style="margin-top: 30px; margin-right: 0px !important; " href="{% url 'cadastro_modalidade' %}" class="btn-floating btn-large red right red">
                <i class="large material-icons ">add</i>
            </a>

            <h4 class="titulo"><br/>Modalidades</h4>
            <br/>
            <table>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Descricao</th>
                            <th>Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for modalidade in modalidades|dictsort:"descricao" %}
                        <tr>
                            <td id="id">{{modalidade.id}}</td>
                            <td id="descricao">{{modalidade.descricao}}</td>
                            <td>
                                    <a name="editar" class="btn-floating waves-effect waves-light red" href="#">
                                    <i class="material-icons">mode_edit</i></a>
                                    
                                    <a  name="visualizar" class="btn-floating waves-effect waves-light red" href="#">
                                        <i class="material-icons">visibility</i></a>
                                    
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
    </div>
{% endblock content %}