{% extends "base_site.html" %}

{% block title %} Bolão {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Lista de Bolões </h3>
        </div>

        
      </div>

      <div class="clearfix"></div>

      <div class="row">
        
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            
            <div class="x_content">
                
               <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="Novo" data-original-title="" title="">
                  <a  name="cadastrar_bolao" href="{% url 'cadastro_bolao' %}"><i class="fa fa-plus-circle"></i> Novo</a>
                </button>



              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Criado em</th>
                    <th>identificador</th>
                    <th>Tipo de Bolão</th>
                    <th>Cotas Disponíveis</th>
                    <th>Opções</th>
                  </tr>
                </thead>
                <tbody>
                         {% for bolao in boloes|dictsort:"dataCriacao" %}
                        <tr>
                            
                            <td id="id">{{bolao.dataCriacao}}</td>
                            <td id="identificador">{{bolao.identificador}}</td>
                            <td id="tipoBolao">{{bolao.tipoBolao.modalidade}}</td>
                            <td id="cotasDisponiveis">{{bolao.cotasDisponiveis}}</td>
                            
                            <td>    
                                <div class="btn-group">
                                    <a href="{% url 'editar_bolao' pk=bolao.pk %}" style="color:#7387A8;" data-placement="top" data-toggle="tooltip" data-original-title="Visualizar" name="submit-vizualizar" class="btn btn-sm btn-default" role="button"><i class="fa fa-eye"></i></a>
                                     <a href="{% url 'deletar_bolao' pk=bolao.pk %}" style="color:#7387A8;" data-placement="right" data-toggle="tooltip" data-original-title="Excluir" name="submit-excluir" class="btn btn-sm btn-default" role="button"><i class="fa fa-trash"></i></a>
                                    
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
              </table>

            </div>
          </div>
        </div>

       
        
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}



