{% extends "base_site.html" %}

{% block title %} Modalidades {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Lista Modalidades </h3>
        </div>

        
      </div>

      <div class="clearfix"></div>

      <div class="row">
        
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            
            <div class="x_content">
                
               <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="Novo" data-original-title="" title="">
                  <a  name="visualizar" href="{% url 'cadastro_modalidade' %}"><i class="fa fa-plus-circle"></i> Novo</a>
                </button>



              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Descricão</th>
                    <th>Opções</th>
                  </tr>
                </thead>
                <tbody>
                        {% for modalidade in modalidades|dictsort:"descricao" %}
                        <tr>
                            <td id="id">{{modalidade.id}}</td>
                            <td id="descricao">{{modalidade.descricao}}</td>
                            <td>    
                                <div class="btn-group">
                                    <a href="{% url 'editar_modalidade' pk=modalidade.pk %}" style="color:#7387A8;" data-placement="top" data-toggle="tooltip" data-original-title="Visualizar" class="btn btn-sm btn-default" role="button"><i class="fa fa-eye"></i></a>
                                    <a href="{% url 'excluir_modalidade' pk=modalidade.pk %}" style="color:#7387A8;" data-placement="right" data-toggle="tooltip" data-original-title="Excluir" class="btn btn-sm btn-default" role="button"><i class="fa fa-trash"></i></a>
                                    
                                </div>
                            </td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
              </table>

            </div>
          </div>
        </div>

       
        
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
{% endblock javascripts %}



