{% extends 'login_base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
{% if not user.is_authenticated %}
    {% if form.errors %}
    <div class="row" style="margin:0px;">
        <div class="col s12 ">
            <p class="center-align card-panel red">
                Usuário ou senha incorretos.
                Tente novamente.
            </p>
         </div>
     </div>
    {% endif %} 
    <h4 class=titulo-app>GEELO</h4>
        <form id="login-form" method="post"
              action="{% url 'login' %}">
            {% csrf_token %}

            <div class="input-field">
                
                <i class="material-icons prefix" id="icone-login">account_circle</i>
                <label for="id_username" >Usuário</label>
                <input id="id_username" name="username"
                           type="text" class="validate">
            </div>

            <div class="input-field ">
                    <i class="material-icons prefix" id="icone-login">lock</i>
                    <label for="id_password">Senha</label>
                    <input id="id_password" id="id_username_fld" name="password"
                               type="password" class="validate">
            </div>

            <br/><br/>
            <div class="conteiner-botao">
                <button id="botao-login" class="btn green accent-3 z-depth-1" type="submit" name="action">Login</button>
                 {% if not request.GET.next %}
                    <input type="hidden" name="next" value="/home">
                {%else%}
                    <input type="hidden" name="next" value="{{request.GET.next}}">
                {%endif%}
                <ul class="center">
                      <li></br><a class="green-text text-accent-2" href="">Esqueceu a senha?</a></li>
                </ul>

            </div>
        </form>
{% endif %}

{% if user.is_authenticated %}

<h3> Usuário já esta logado...</h3>
        <div class="text-center alert alert-warning">
                        <a href="/home" class="btn btn-social btn-facebook">
                            <i class="fa fa-facebook"></i>&nbsp; Va para HOME</a>
                        
                    </div>
    {% endif %}
{% endblock content %}